<script>
  function gravatarImg(user) {
    return $('<img src="http://gravatar.com/avatar/' + md5(user.email) + '?s=20">');
  }
  function addUserToList(user, listSel) {
    var $userEl = $('<li class="list-group-item">');
    $userEl.data('id', user.id);
    $userEl.html(user.nickname);
    $userEl.prepend(gravatarImg(user));
    $(listSel).append($userEl);
  }
  function removeUserFromList(user, listSel) {
    $(listSel + ' > div').each(function (x, memEl) {
      if($(memEl).data('id') == member.id) {
        $(memEl).remove();
      }
    });
  }
</script>

<!-- OPTION 1 -->
<div class="col-md-3">
  <h3> OPTION 1: Recently logged in users </h3>
  <ul class="list-group">
    <% @recently_logged_in_users.each do |user| %>
      <li class="list-group-item">
        <img src="<%= user.gravatar %>" />
        <%= user.nickname %>
      </li>
    <% end %>
  </ul>
</div>
<!-- /OPTION 1 -->


<!-- OPTION 2 -->
<!-- <div class="col&#45;md&#45;3"> -->
<!--   <h3> OPTION 2: Rails cached users ajax/unload </h3> -->
<!--   <ul id="current&#45;cached&#45;user" class="list&#45;group"> -->
<!--     <% @rails_cached_users.each do |user| %> -->
<!--       <li class="list&#45;group&#45;item"> -->
<!--         <img src="<%= gravatar_for(user[:email]) %>" /> -->
<!--         <%= user[:nickname] %> -->
<!--       </li> -->
<!--     <% end %> -->
<!--   </ul> -->
<!--   <script> -->
<!--     $(function () { -->
<!--       $.post('/online_user').then(function (users) { -->
<!--         users.forEach(function (user) { -->
<!--           addUserToList(user, '#current&#45;cached&#45;user'); -->
<!--         }); -->
<!--       }); -->
<!--     }); -->
<!--     function cleanup() { -->
<!--       $.ajax({ -->
<!--          url: '/online_user', -->
<!--          type: 'DELETE', -->
<!--          async: false -->
<!--       }); -->
<!--     } -->
<!--     $(window).on('beforeunload', function() { -->
<!--       var x = cleanup(); -->
<!--       return x; -->
<!--     }); -->
<!--   </script> -->
<!-- </div> -->
<!-- <!&#45;&#45; /OPTION 2 &#45;&#45;> -->
<!--  -->
<!-- <!&#45;&#45; OPTION 3 &#45;&#45;> -->
<!-- <div class="col&#45;md&#45;3"> -->
<!--   <script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script> -->
<!--   <h3> OPTION 3: Pusher Presence Channel </h3> -->
<!--   <ul id="pusher&#45;members" class="list&#45;group"></ul> -->
<!--   <script type="text/javascript"> -->
<!--     var pusher = new Pusher('97bcb854b4c8991492fd'); -->
<!--     var presenceChannel = pusher.subscribe('presence&#45;all'); -->
<!--     function addMember(member) { -->
<!--       var $memberDiv = $('<div>'); -->
<!--       $memberDiv.data('id', member.id); -->
<!--       $memberDiv.html(member.info.nickname); -->
<!--       $('#pusher&#45;members').append($memberDiv); -->
<!--     } -->
<!--     function removeMember(member) { -->
<!--       $('#pusher&#45;members > div').each(function (x, memEl) { -->
<!--         if($(memEl).data('id') == member.id) { -->
<!--           $(memEl).remove(); -->
<!--         } -->
<!--       }); -->
<!--     } -->
<!--     presenceChannel.bind('pusher:subscription_succeeded', function(members) { -->
<!--       members.each(function (member) { -->
<!--         addUserToList(member.info, '#pusher&#45;members'); -->
<!--       }); -->
<!--     }); -->
<!--     presenceChannel.bind('pusher:member_added', function (member) { -->
<!--       addUserToList(member.info, '#pusher&#45;members'); -->
<!--     }); -->
<!--     presenceChannel.bind('pusher:member_removed', function(member) { -->
<!--       console.log("member removed"); -->
<!--       removeUserFromList(member.info); -->
<!--     }); -->
<!--   </script> -->
<!-- </div> -->
<!-- <!&#45;&#45; /OPTION 3 &#45;&#45;> -->
<!--  -->
<!-- <!&#45;&#45; OPTION 4 &#45;&#45;> -->
<!-- <div class="col&#45;md&#45;3"> -->
<!--   <h3> OPTION 4: Node Service + socket.io </h3> -->
<!--   <ul id="node&#45;users" class="list&#45;group"></ul> -->
<!--   <script src="http://localhost:8000/socket.io/socket.io.js"></script> -->
<!--   <script> -->
<!--     var socket = io('http://localhost:8000'); -->
<!--     socket.on('online_users', function (users) { -->
<!--       console.log('online users: ', users); -->
<!--       $('#node&#45;users').empty(); -->
<!--       users.forEach(function (user) { -->
<!--         addUserToList(user, '#node&#45;users'); -->
<!--       }); -->
<!--     }); -->
<!--     socket.emit('register', { -->
<!--       nickname: "<%= current_user.nickname %>", -->
<!--       email: "<%= current_user.email %>", -->
<!--       id: "<%= current_user.id %>" -->
<!--     }); -->
<!--   </script> -->
<!-- </div> -->
<!-- <!&#45;&#45; /OPTION 4 &#45;&#45;> -->
